<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/icon_pms.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</head>
<body>
    <h1>Admin or Team Leader or Member</h1>

    <button id="redirectButton_admin_options">
        Admin
    </button>

    <button id="redirectButton_teamLeader_options">
        Team Leader
    </button>

    <button id="redirectButton_member_options">
        Member
    </button>
</body>
</html>
