<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Leader Navigation</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/icon_pms.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>    
</head>
<body>
    <h1>Team Leader Options</h1>

    <button id="redirectButton_teamLeader_login">
        Team Leader Login
    </button>

    <button id="redirectButton_teamLeader_signup">
        Team Leader Sign Up
    </button>
</body>
</html>
