<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Tasks & Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</head>
<body>
    <h1>Manage Tasks & Projects</h1>
    <h2>Teams</h2>
    <ul>
        {% for team in teams %}
            <li>{{ team.team_name }} - {{ team.description }}</li>
        {% endfor %}
    </ul>

    <h2>Tasks</h2>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Assigned To</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.assigned_username }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('teamLeader_mainpage_bp.teamLeader_mainpage') }}" method="get">
        <button type="submit">Back to Dashboard</button>
    </form>
</body>
</html>
